@import "../../styles/variables";

.contentContainer {
  > .title {
    text-align: center;
    font-size: 3rem;
  }

  .storiesContainer {
    .storyContainer {
      margin-bottom: 1.5rem;

      .link {
        color: $light-text-color;

        .title {
          color: inherit;
          margin: 0;
          font-size: 2rem;
        }
      }

      .linkDark {
        color: $dark-text-color;
      }
    }
  }
}