@import "../../styles/variables";

.contentContainer {
  text-align: center;

  > .title {
    font-size: 4rem;
    margin-bottom: 2rem;
    @media (min-width: $grid-lg) {
      font-size: 5rem;
    }
  }

  img {
    margin: auto;
  }
}